{% extends 'base.html.twig' %}

{% block title %}Allomecano | Se connecter{% endblock %}

{% block body %}

<form class="flex-1" method="post">

<section class="is-primary is-fullheight">
  <div class="hero-body is-primary no-padding-top">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <form action="" class="box">
            <div class="field">
            {# Affiche les erreurs #}
            {% if error %}
            <article class="error">
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
            </article>
            {% endif %}

            <form method="post">

            <h1 class="is-size-4 mb-1 has-text-centered"><i class="fas fa-sign-in-alt mr-1"></i>Se connecter</h1>

              <label for="inputEmail" class="label">Pseudo</label>
              <div class="control has-icons-left">
                <input type="text" value="{{ last_username }}" name="username" placeholder="Votre pseudo" class="input" id="inputPseudo" required autofocus>
              <span class="icon is-small is-left">
                  <i class="fas fa-user-circle"></i>
              </span>
              </div>
            </div>
            <div class="field">
              <label for="" class="label">Mot de passe</label>
              <div class="control has-icons-left">
                <input type="password" id="inputPassword" name="password" placeholder="*******" class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>

            <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">

        <div class="checkbox">
            <label>
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>
        </div>
    
     <div class="field mb-5 mt-5">
        <button class="button is-success">
        Se connecter
        </button>
    </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
