<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <title>{% block title %}Allomecano{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
        <link rel="stylesheet" href="./assets/css/style.css">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block footer %}
        <div class="columns is-multiline is-mobile has-text-centered ">
			<div class="column is-full-mobile">Logo ici</div>
			<div class="column">A propos de nous</div>
			<div class="column">FAQ</div>
			<div class="column">Contact</div>
			<div class="column">Mentions légales</div>
		</div>
        </section>
        {% endblock %}
        {% block javascripts %}
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	    <script defer src="./assets/js/menu.js"></script>
        {% endblock %}
    </body>
</html>
