{% extends 'base.html.twig' %}

{% block title %}Map test{% endblock %}

{% block body %}


    <div class="pac-card" id="pac-card">
      <div>
        <div id="title">
          Recherche d'adresse
        </div>
      </div>
      <div id="pac-container">
        <input id="pac-input" type="text"
            placeholder="Entrez une adresse">
      </div>
    </div>
    <div id="map"></div>
    <div id="infowindow-content">
      <img src="" width="16" height="16" id="place-icon">
      <span id="place-name"  class="title"></span><br>
      <span id="place-address"></span>
    </div>

    <script>
      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAa_XzBtUTRBtVf2yBNiqYhT1bvBJX_Xoo&libraries=places&callback=initMap"
        async defer></script>
{% endblock %}
