{% extends 'base.html.twig' %}

{% block title %}Allomecano | Garage{% endblock %}

{% block body %}
<section class="section section--garage">
<div class="columns garage is-12 is-multiline has-text-centered">
    <div class="column garage-logo is-4">
    Image
    </div>
    <div class="column garage-data is-4">
    Nom du garage
    </div>
    <div class="column garage-address is-4">
    Adresse<br>
    Code postal<br>
    Ville
    </div>
</div>
</section>

<section class="section section--garage">
<div class="columns garage is-12 has-text-centered">
    <div class="column garage-service is-4">
    Service
    </div>
    <div class="column garage-service is-4">
    Service
    </div>
    <div class="column garage-service is-4">
    Service
    </div>
</div>
</section>

<section class="section section--garage">
<div class="columns garage is-12 has-text-centered">
    <div class="column garage-info is-4">
    Texte présentation
    </div>
    <div class="column garage-info is-4">
    Horaires
    </div>
    <div class="column garage-info is-4">
    Cartes et infos d'accès
    </div>
</div>
</section>

<section class="section section--garage">
<div class="columns garage is-12 has-text-centered">
    <div class="column garage-review is-4">
    Avis
    </div>
    <div class="column garage-review is-4">
    Avis
    </div>
    <div class="column garage-review is-4">
    Avis
    </div>
</div>
</div>
</section>

{% endblock %}
