{% extends 'base.html.twig' %}

{% block title %}Allomecano | Résultat de la recherche{% endblock %}

{% block body %}

<section class="section flex-1">
<div class="column is-6 is-vcentered">
<div id="map">
</div>
</div>
</section>

<script src="https://maps.google.com/maps/api/js?key=AIzaSyAa_XzBtUTRBtVf2yBNiqYhT1bvBJX_Xoo" type="text/javascript"></script>

<script>
		map = new google.maps.Map(document.getElementById("map"), {
		center: new google.maps.LatLng({{ zoomLatitude }}, {{ zoomLongitude }}),
		zoom: 11,
		mapTypeId: google.maps.MapTypeId.ROADMAP,
		mapTypeControl: true,
		scrollwheel: true,
		mapTypeControlOptions: {
			style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR
		},
			navigationControl: true,
			navigationControlOptions: {
			style: google.maps.NavigationControlStyle.ZOOM_PAN
		}
		});

		geocoder = new google.maps.Geocoder();
		// On parcourt l'objet garages
		{% for garage in garages %}
		{
			geocoder.geocode({ 'address': "{{ garage.adress }}" }, function (results, status) 
			{
        		var latLng = {lat: results[0].geometry.location.lat (), lng: results[0].geometry.location.lng ()};

        		if (status == 'OK') 
				{
            		var marker = new google.maps.Marker({
                	position: latLng,
                	map: map
            		});
        		} 
				else 
				{
            		console.log('Geocode was not successful for the following reason: ' + status);
        		}
    		});
		}
		{% endfor %}
</script>

{% endblock %}
