{% extends 'base.html.twig' %}

{% block title %}Allomecano | A propos{% endblock %}

{% block body %}
<div id="container-card-profil">

<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-96x96">
          <img src="{{ relative_path('assets/profil/photo_artur.jpg') }}" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Rybicki Artur</p>
      </div>
    </div>

    <div class="content">
      <h3>Rôle</h3>
        <p>Product Owner</p>
        <p>Scrum Master</p>
      <br><br>
       <p class="card-footer"><a href="https://www.linkedin.com/in/arturrybicki/" target="_blank"><img src="https://img.icons8.com/color/24/000000/linkedin.png"></a>
        <a href="mailto:art.rybicki84@gmail.com"><img src="https://img.icons8.com/plasticine/24/000000/gmail.png">art.rybicki84@gmail.com</p></a>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-96x96">
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Maxime Del Pino</p>
      </div>
    </div>

    <div class="content">
      <h3>Rôle</h3>
        <p>Lead Dev Front</p>
      <br><br>
       <p class="card-footer"><a href="https://www.linkedin.com/in/maxime-del-pino/" target="_blank"><img src="https://img.icons8.com/color/24/000000/linkedin.png"></a>
        <a href="mailto:maxime.delpino@gmail.com"><img src="https://img.icons8.com/plasticine/24/000000/gmail.png">maxime.delpino@gmail.com</p></a>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-96x96">
          <img class="profil" src="{{ relative_path('assets/profil/photo_cockpit.jpg') }}" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Sébastien Bacle</p>
      </div>
    </div>

    <div class="content">
      <h3>Rôle</h3>
        <p>Lead Dev Back</p>
      <br><br>
      <p class="card-footer"><a href="www.linkedin.com/in/sebastien-bacle" target="_blank"><img src="https://img.icons8.com/color/24/000000/linkedin.png"></a>
        <a href="mailto:sbacle20@gmail.com"><img src="https://img.icons8.com/plasticine/24/000000/gmail.png">sbacle20@gmail.com</p></a>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-96x96">
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">Nicolas Ruelle</p>
      </div>
    </div>

    <div class="content">
      <h3>Rôle</h3>
        <p>Git Master</p>
      <br><br>
      <p class="card-footer"><a href="https://www.linkedin.com/in/nicolas-ruelle-3b253b18a/" target="_blank"><img src="https://img.icons8.com/color/24/000000/linkedin.png"></a>
        <a href="mailto:ruellens@gmail.com"><img src="https://img.icons8.com/plasticine/24/000000/gmail.png">ruellens@gmail.com</a></p>
    </div>
  </div>
</div>

</div>
{% endblock %}