{% extends 'base.html.twig' %}

{% block title %}Allomecano | FAQ{% endblock %}



{% block body %}
<script src="{{ asset('assets/js/faq.js') }}"></script>


    
<div class="wrappers">
<div class="wrapper-container">
<div class="wrapper">
<div class="question-wrapper">
<h1 class="is-size-4 mb-1">Comment acceder à nos services ?</h1>
</div>
<div class="answer-wrapper">
<p class="mb-1">Pour pouvoir profitez de nos services il suffit juste de s'inscrire et de se connecter.</p>
</div>
</div>


<div class="wrapper">
<div class="question-wrapper">
<h1 class="is-size-4 mb-1">Quels avantages a venir sur notre plateforme ?</h1>
</div>
<div class="answer-wrapper">
<p class="mb-1">Un gain de temps sur la prise de rendez-vous et sur la gestion des plannings.</p>
</div>
</div>

<div class="wrapper">
<div class="question-wrapper">
<h1 class="is-size-4 mb-1">L'utilisation de Allomecano n'est elle pas trop compliquée?</h1>
</div>
<div class="answer-wrapper">
<p class="mb-1"> Le site d'Allomecano paramètres votre agenda afin de vous garantir un suivi de vos rendez-vous. </p>
</div>
</div>

<div class="wrapper">
<div class="question-wrapper">
<h1 <h1 class="is-size-4 mb-1">Qui est le propriétaires des données collectées sur Allomecano?</h1>
</div>
<div  class="answer-wrapper">
<p class="mb-1"> Vos données personnelles vous appartiennent et vous seul y avez accès. Allomecano ne possède aucun droits sur vos données.
</div>
</div>
</div>


</div>






</section>

    
    














{% endblock %}


