{% extends 'base.html.twig' %}

{% block title %}Allomecano | Accueil{% endblock %}

{% block body %}
<section class="content-home">
  <div class="columns is-multiline is-mobile has-text-centered">
    <div class="column is-12 search">
		<div class="column is-8 home-search">
			<div class="column is-6 search--details">
			<i class="fas fa-map-marked-alt mr-2"></i>Prendre rendez-vous chez un professionnel en mécanique
			</div>
				<div id="container-searchForm">
				<form action="{{ path('show_garage_by_service_gps') }}" method="POST">
				{% form_theme searchForm 'home_layout.html.twig' %}
				{{ form_start(searchForm)}}
				<input id="gps-coord" name="gps" style="visibility : hidden; width : 0%"></input>
     			<input class="input input--home" type="text" name ="address" id="user_input_autocomplete_address" placeholder="Votre adresse...">
            	{{ form_row(searchForm.name, {'attr': {'class': 'input input--home', 'name': 'service'}}) }}
				<button type="submit" class="button is-success"><i class="fas fa-search mr-1"></i>Chercher</button>
				{{ form_end(searchForm)}}
				</form>
		</div>
	  </div>
	</div>
	<div class="columns is-12 is-multiline about-us has-text-centered">
	<div class="column is-12"><i class="fas fa-info-circle mr-1"></i>Qui sommes-nous ?<br><br></div>
			<div class="column is-12">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed consequuntur non ducimus excepturi, nihil delectus vitae maiores, molestiae rerum architecto expedita fuga inventore quam obcaecati quod corrupti. Unde velit accusamus vitae, cumque, temporibus voluptate nihil provident tempore dolorum est maxime rem, eaque delectus similique modi asperiores et repellat at cupiditate beatae. Ratione, voluptatem explicabo ab dolores sit velit nihil corporis nesciunt possimus eos quos quaerat animi iure neque quia deleniti. Aliquam temporibus asperiores quos dolore laborum, expedita in blanditiis, commodi dignissimos vero harum reiciendis sit? Quos voluptate eligendi corrupti praesentium enim quibusdam quasi dolores atque! Provident est nisi, iure deleniti eligendi vitae laudantium. Saepe nam voluptate mollitia. Pariatur ut quos quis praesentium iste, mollitia aliquid sapiente placeat? Vitae aliquid recusandae fugit enim? Ullam quas pariatur odit totam quasi neque cumque nisi. Explicabo quos ipsum quaerat voluptates culpa laboriosam aperiam dignissimos nesciunt nemo non ducimus reprehenderit beatae qui, ipsa omnis, ex voluptas iure minus numquam reiciendis. Recusandae deserunt ad facilis et repudiandae. Reiciendis maxime minus eligendi tenetur necessitatibus numquam tempora amet eum adipisci dolor nisi, hic illum! Dolor odit neque vitae eum error. Esse pariatur ab itaque architecto labore nulla molestias magni, at aut optio? Sint, temporibus ratione corporis iste eaque libero, in facere earum rem at voluptas quam atque veritatis eligendi quibusdam. Eum laboriosam sint exercitationem in quibusdam. Dolore, reprehenderit nostrum! Reprehenderit, veniam laboriosam harum praesentium nemo voluptatem sapiente, aut magnam, dolores alias tempora commodi?
			</div>
	</div>
  </div>
</section>

	<script src="https://maps.googleapis.com/maps/api/js?&language=fr&key=AIzaSyAa_XzBtUTRBtVf2yBNiqYhT1bvBJX_Xoo&libraries=places&callback=initAutocomplete" async defer></script>
{% endblock %}