{% extends 'base.html.twig' %}

{% block title %}Allomecano | Mentions légales{% endblock %}

{% block body %}

<section class="section legal">
<h1 class="is-size-3 mb-1 has-text-centered">Informations légales</h1>
<p class="mb-1">Merci de lire attentivement les présentes modalités d'utilisation du présent site avant de le parcourir. En vous connectant sur ce site, vous acceptez sans réserve les présentes modalités.
</p>
<h1 class="is-size-4 mb-1">Editeur du site</h1>
<p class="is-size-5">Site Internet Qualité</p>
<p class="mb-1">par <a href="">Allomecano</a><br>
Adresse Allomecano<br>
Tél. : + 33 (0)6 00 00 00 00<br>
Fax : + 33 (0)5 00 00 00 00<br>
https://www.allomecano.com<br>
</p>
<h1 class="is-size-4 mb-1">Conditions d'utilisation</h1>
<p class="mb-1">Le site accessible par les url suivants : www.allomecano.com est exploité dans le respect de la législation française. L'utilisation de ce site est régie par les présentes conditions générales. En utilisant le site, vous reconnaissez avoir pris connaissance de ces conditions et les avoir acceptées. Celles-ci pourront êtres modifiées à tout moment et sans préavis.
Allomecano ne saurait être tenu pour responsable en aucune manière d’une mauvaise utilisation du service.
</p>
<h1 class="is-size-4 mb-1">Responsable éditorial</h1>
<p class="mb-1">
Nom Prénom<br>
Site Internet Qualité<br>
par Allomecano<br>
Adresse<br>
France<br>
Tél. : + 33 (0)0 00 00 00 00<br>
Fax : + 33 (0)0 00 00 00 00<br>
http://www.allomecano.com<br>
</p>

<h1 class="is-size-4 mb-1">Limitation de responsabilité</h1>
<p class="mb-1">Les informations contenues sur ce site sont aussi précises que possibles et le site est périodiquement remis à jour, mais peut toutefois contenir des inexactitudes, des omissions ou des lacunes. Si vous constatez une lacune, erreur ou ce qui parait être un dysfonctionnement, merci de bien vouloir le signaler par email en décrivant le problème de la manière la plus précise possible (page posant problème, action déclenchante, type d’ordinateur et de navigateur utilisé, …).</p>

<p class="mb-1">Tout contenu téléchargé se fait aux risques et périls de l'utilisateur et sous sa seule responsabilité. En conséquence, Allomecano ne saurait être tenu responsable d'un quelconque dommage subi par l'ordinateur de l'utilisateur ou d'une quelconque perte de données consécutives au téléchargement.</p>

<p class="mb-1">Les photos sont non contractuelles.</p>

<p class="mb-1">Les liens hypertextes mis en place dans le cadre du présent site internet en direction d'autres ressources présentes sur le réseau Internet ne sauraient engager la responsabilité de Allomecano.
Litiges</p>

<p class="mb-1">Les présentes conditions sont régies par les lois françaises et toute contestation ou litiges qui pourraient naître de l'interprétation ou de l'exécution de celles-ci seront de la compétence exclusive des tribunaux dont dépend le siège social de la société Allomecano. La langue de référence, pour le règlement de contentieux éventuels, est le français.</p>

<h1 class="is-size-4 mb-1">Déclaration à la CNIL</h1>

<p class="mb-1">Conformément à la loi 78-17 du 6 janvier 1978 (modifiée par la loi 2004-801 du 6 août 2004 relative à la protection des personnes physiques à l'égard des traitements de données à caractère personnel) relative à l'informatique, aux fichiers et aux libertés, le site a fait l'objet d'une déclaration auprès de la Commission nationale de l'informatique et des libertés (www.cnil.fr).</p>

<h1 class="is-size-4 mb-1">Droit d'accès</h1>

<p class="mb-1">En application de cette loi, les internautes disposent d’un droit d’accès, de rectification, de modification et de suppression concernant les données qui les concernent personnellement. Ce droit peut être exercé par voie postale auprès de Allomecano : adresse ou par voie électronique à l’adresse email suivante : contact@allomecano.com</p>

<p class="mb-1">Les informations personnelles collectées ne sont en aucun cas confiées à des tiers hormis pour l’éventuelle bonne exécution de la prestation commandée par l’internaute.</p>

<h1 class="is-size-4 mb-1">Confidentialité</h1>

<p class="mb-1">Vos données personnelles sont confidentielles et ne seront en aucun cas communiquées à des tiers hormis pour la bonne exécution de la prestation.
Propriété intellectuelle</p>

<p class="mb-1">Tout le contenu du présent site, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de la société Allomecano à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs.</p>

<p class="mb-1">Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, de ces différents éléments est strictement interdite sans l'accord exprès par écrit de Allomecano. Cette représentation ou reproduction, par quelque procédé que ce soit, constitue une contrefaçon sanctionnée par les articles L.3335-2 et suivants du Code de la propriété intellectuelle. Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur. En outre, les propriétaires des Contenus copiés pourraient intenter une action en justice à votre encontre.</p>

<p class="mb-1">Allomecano est identiquement propriétaire des "droits des producteurs de bases de données" visés au Livre III, Titre IV, du Code de la Propriété Intellectuelle (loi n° 98-536 du 1er juillet 1998) relative aux droits d'auteur et aux bases de données.</p>

<p class="mb-1">Les utilisateurs et visiteurs du site internet peuvent mettre en place un hyperlien en direction de ce site, mais uniquement en direction de la page d’accueil, accessible à l’URL suivante : www.allomecano.com, à condition que ce lien s’ouvre dans une nouvelle fenêtre. En particulier un lien vers une sous page (« lien profond ») est interdit, ainsi que l’ouverture du présent site au sein d’un cadre (« framing »), sauf l'autorisation expresse et préalable de Allomecano.</p>

<p class="mb-1">Pour toute demande d'autorisation ou d'information, veuillez nous contacter par email : contact@Allomecano.com. Des conditions spécifiques sont prévues pour la presse.</p>

<p class="mb-1">Par ailleurs, la mise en forme de ce site a nécessité le recours à des sources externes dont nous avons acquis les droits ou dont les droits d'utilisation sont ouverts, les illustrations ont été acquises sur freepik.com</p>

<h1 class="is-size-4 mb-1">Hébergeur</h1>

<p class="mb-1">AWS
Plateforme de gestion et hébergement de sites internet<br>
www.aws.com<br>
contact@aws.com<br>
</p>

<h1 class="is-size-4 mb-1">Conditions de service</h1>

<p class="mb-1">Ce site est proposé en langages HTML5 et CSS3, pour un meilleur confort d'utilisation et un graphisme plus agréable, nous vous recommandons de recourir à des navigateurs modernes comme Safari, Firefox, Chrome,...</p>

<h1 class="is-size-4 mb-1">Informations et exclusion</h1>

<p class="mb-1">Allomecano met en œuvre tous les moyens dont elle dispose, pour assurer une information fiable et une mise à jour fiable de ses sites internet. Toutefois, des erreurs ou omissions peuvent survenir. L'internaute devra donc s'assurer de l'exactitude des informations auprès de Allomecano, et signaler toutes modifications du site qu'il jugerait utile. Allomecano n'est en aucun cas responsable de l'utilisation faite de ces informations, et de tout préjudice direct ou indirect pouvant en découler.</p>

<h1 class="is-size-4 mb-1">Cookies</h1>

<p class="mb-1">Pour des besoins de statistiques et d'affichage, le présent site utilise des cookies. Il s'agit de petits fichiers textes stockés sur votre disque dur afin d'enregistrer des données techniques sur votre navigation. Certaines parties de ce site ne peuvent être fonctionnelle sans l’acceptation de cookies.

<h1 class="is-size-4 mb-1">Liens hypertextes</h1>

<p class="mb-1">Les sites internet de Allomecano peuvent offrir des liens vers d’autres sites internet ou d’autres ressources disponibles sur Internet.</p>

<p class="mb-1">Allomecano ne dispose d'aucun moyen pour contrôler les sites en connexion avec ses sites internet. Allomecano ne répond pas de la disponibilité de tels sites et sources externes, ni ne la garantit. Elle ne peut être tenue pour responsable de tout dommage, de quelque nature que ce soit, résultant du contenu de ces sites ou sources externes, et notamment des informations, produits ou services qu’ils proposent, ou de tout usage qui peut être fait de ces éléments. Les risques liés à cette utilisation incombent pleinement à l'internaute, qui doit se conformer à leurs conditions d'utilisation.</p>

<p class="mb-1">Les utilisateurs, les abonnés et les visiteurs des sites internet de Allomecano ne peuvent mettre en place un hyperlien en direction de ce site sans l'autorisation expresse et préalable de Allomecano.</p>

<p class="mb-1">Dans l'hypothèse où un utilisateur ou visiteur souhaiterait mettre en place un hyperlien en direction d’un des sites internet de Allomecano, il lui appartiendra d'adresser un email accessible sur le site afin de formuler sa demande de mise en place d'un hyperlien. Allomecano se réserve le droit d’accepter ou de refuser un hyperlien sans avoir à en justifier sa décision.</p>

<h1 class="is-size-4 mb-1">Recherche</h1>

<p class="mb-1">En outre, le renvoi sur un site internet pour compléter une information recherchée ne signifie en aucune façon que Allomecano reconnaît ou accepte quelque responsabilité quant à la teneur ou à l'utilisation dudit site.
Précautions d'usage
</p>

<p class="mb-1">
Il vous incombe par conséquent de prendre les précautions d'usage nécessaires pour vous assurer que ce que vous choisissez d'utiliser ne soit pas entaché d'erreurs voire d'éléments de nature destructrice tels que virus, trojans, etc....
</p>

<h1 class="is-size-4 mb-1">Responsabilité</h1>

<p class="mb-1">Aucune autre garantie n'est accordée au client, auquel incombe l'obligation de formuler clairement ses besoins et le devoir de s'informer. Si des informations fournies par Allomecano apparaissent inexactes, il appartiendra au client de procéder lui-même à toutes vérifications de la cohérence ou de la vraisemblance des résultats obtenus. Allomecano ne sera en aucune façon responsable vis à vis des tiers de l'utilisation par le client des informations ou de leur absence contenues dans ses produits y compris un de ses sites Internet. 
</p>

<h1 class="is-size-4 mb-1">Contactez-nous</h1>

<p class="mb-1">Allomecano est à votre disposition pour tous vos commentaires ou suggestions. Vous pouvez nous écrire en français par courrier électronique à : contact@allomecano.com ou nous contacter <a href="">ici</a>.
</p>


</section>

{% endblock %}