{% extends 'base.html.twig' %}

{% block title %}Allomecano | Présentation{% endblock %}




{% block body %}
<script src="{{ asset('assets/js/presentation.js') }}"></script>

 <head>
        <title>Présentation de l'équipe</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Limelight' rel='stylesheet' type='text/css'>
                <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

    </head>
        <header>
            <h1>Présentation de l'équipe</h1>
        </header>
        <section id="main-menu">
            <ul>
                <li>
                    <div id="part1" class="images">
                        <div class="bw"></div>
                        <div class="color"></div>
                    </div>
                    <div class="description">
                        <h2>Rybicki<br>Artur</h2>
                        <h3>Role</h3>
                        <p>Product Owner</p>
                        <p>Scrum Master</p>
                    </div>
                </li>
                <li>
                    <div id="part2" class="images">
                        <div class="bw"></div>
                        <div class="color"></div>
                    </div>
                    <div class="description">
                        <h2>Sébastien<br>Bacle</h2>
                        <h3>Role</h3>
                        <p>Lead Dev Back</p>
                    </div>
                </li>
                <li>
                    <div id="part3" class="images">
                        <div class="bw"></div>
                        <div class="color"></div>
                    </div>
                    <div class="description">
                        <h2>Maxime<br>Del Pino</h2>
                        <h3>Role</h3>
                        <p>Lead Dev Front</p>
                    </div>
                </li>
                <li>
                    <div id="part4" class="images">
                        <div class="bw"></div>
                        <div class="color"></div>
                    </div>
                    <div class="description">
                        <h2>Nicolas<br>Ruelle</h2>
                        <h3>Role</h3>
                        <p>Git Master</p>
                    </div>
                </li>
            </ul>
        </section>
       
    












{% endblock %}