{% extends 'base.html.twig' %}

{% block title %}Edition du planning{% endblock %}

{% block body %}

    <section class="is-primary is-fullheight">
    <div class="hero-body is-primary">
        <div class="container">
        <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
        <h3>Ajouter des disponibilités</h3>

    {{ form_start(form) }}
        <div class="control">
            <div class="control">
                {{ form_row(form.date, {'attr': {'class': 'input', 'placeholder' : 'Prénom', 'autofocus' : ''}}) }}
            </div>
            <div class="control">
                {{ form_row(form.time, {'attr': {'class': 'input', 'placeholder' : 'Nom'}}) }}
            </div>
        <button class="button is-success mt-1" id="button">Ajouter une disponibilité</button>

    {{ form_end(form) }}
    </section>
{% endblock %}
