{% extends 'base.html.twig' %}

{% block title %}Hello PlanningController!{% endblock %}

{% block body %}

    <section class ="section">Saisir mes disponibilités</section>
    {{ form_start(form) }}
        <div class="control">
            <div class="control">
                {{ form_row(form.date, {'attr': {'class': 'input', 'placeholder' : 'Prénom', 'autofocus' : ''}}) }}
            </div>
            <div class="control">
                {{ form_row(form.time, {'attr': {'class': 'input', 'placeholder' : 'Nom'}}) }}
            </div>
        <button class="button is-success mt-1" id="button">Ajouter une disponibilité</button>

    {{ form_end(form) }}
{% endblock %}
